---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Laravel from "./icons/Laravel.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import JavaScript from "./icons/Javascript.astro"
import AstroIcon from "./icons/AstroIcon.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  LARAVEL: {
    name: "Laravel",
    class: "bg-[#00315] text-white",
    icon: Laravel,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-yellow-400 text-black",
    icon: JavaScript,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  }
}
const PROJECTS = [
  {
    title: "AppPedidos - Una app completa para delivery en linea",
    description:
      "App de pedidos en línea con panel de administración. Con multiples cambios de idiomas, manejo de sucursales y demas. Creada con Laravel, JavaScript y Tailwind CSS. Usuario de prueba: test01@gmail.com Contraseña: 12345678",
    link: "https://shop.jtapplication.net",
    image: "/projects/pedidos.webp",
    tags: [TAGS.LARAVEL, TAGS.JAVASCRIPT ,TAGS.TAILWIND],
  },
  {
    title: "SuperMega - App para manejo y ventas de loterias",
    description:
      "App de manejo de loterias, recargas de saldo, pagos, reportes y manejo de vendedores. Creada con Laravel, JavaScript y Tailwind CSS. Usuario de prueba: corredor05 Contraseña: corredor05",
    link: "https://loteria.dualsoft.com.do/admin",
    image: "/projects/loteria.webp",
    tags: [TAGS.LARAVEL, TAGS.TAILWIND],
  },
  {
    title: "CoopCo - Landing Page para la Cooperativa de Ahorro y Crédito de Constanza",
    description:
      "Landing page para la cooperativa de ahorro y crédito de Constanza. Creada con Astro y Tailwind CSS.",
    link: "https://www.coopco.com.do/",
    image: "/projects/coopco.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "CoopRioGrande - Landing Page para la Cooperativa de Ahorro y Crédito de Rio Grande",
    description:
      "Landing page para la cooperativa de ahorro y crédito de Rio Grande. Creada con Astro y Tailwind CSS.",
    link: "https://www.coopriogrande.com/",
    image: "/projects/cooopriogrande.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



